{# Jinja2 template for Systems Register
# This is a placeholder. Actual content will be more detailed.
<!DOCTYPE html>
<html>
<head>
    <title>Systems Register</title>
</head>
<body>
    <h1>Register of Systems</h1>
    <p>Information about systems processing personal data.</p>
</body>
</html>
